[submodule "question_2/cloudsim"]
	path = question_2/cloudsim
	url = git@github.com:Cloudslab/cloudsim.git
[submodule "question_2/executioner"]
	path = question_2/executioner
	url = git@github.com:Rohitrajak1807/executioner
[submodule "question_5/g-oauth2-demo"]
	path = question_5/g-oauth2-demo
	url = git@github.com:Rohitrajak1807/g-oauth2-demo.git
[submodule "question_6/sidecar"]
	path = question_6/sidecar
	url = git@github.com:Rohitrajak1807/sidecar.git
