cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cssselect2==0.4.1
defusedxml==0.7.1
docopt==0.6.2
Flask==1.1.2
grip==4.5.2
html5lib==1.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.3.4
MarkupSafe==1.1.1
path-and-address==2.0.1
Pillow==8.2.0
pycparser==2.20
Pygments==2.8.1
Pyphen==0.10.0
requests==2.25.1
six==1.15.0
tinycss2==1.1.0
urllib3==1.26.4
WeasyPrint==52.5
webencodings==0.5.1
Werkzeug==1.0.1
